@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: "Inter";
    font-optical-sizing: auto;
    font-weight: 100 900;
    font-style: normal;
    src: url('https://fonts.gstatic.com/s/inter/v3/4bx7d2l7r57KdfbObwv2M6g8dA.woff2') format('woff2'),
         url('https://fonts.gstatic.com/s/inter/v3/4bx7d2l7r57KdfbObwv2M6g8dA.woff') format('woff');
}
@font-face {
    font-family: "Playfair Display";
    font-optical-sizing: auto;
    font-weight: 400 900;
    font-style: normal;
    src: url('https://fonts.gstatic.com/s/playfairdisplay/v17/4XiUBZD_kg7lQeVd1c8tNYlY6c9v7Q.woff2') format('woff2'),
}
